*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: deeppink;
    display: grid;
    justify-content: center;
}
h1{
    color: darkblue;
}
body{
    justify-content: center;
    background-image: url(/aula09/Assets/folha\ amarela.jpg);
}
img{
    width: 30vw;
    height: 25vh;
    padding: 0%;
}
label{
    color: black;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
}
form{
    justify-content: center;
    display: grid;
}

#dadosCliente{
    background-color: aqua;
}