@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas:
        "cinza preto cinza2 preto2 cinza3"
        "preto3 cinza4 preto4 cinza5 preto5"
        "cinza6 preto6 cinza7 preto7 cinza8"
        "preto8 cinza9 preto9 cinza10 preto10"
        "cinza11 preto11 cinza12 preto12 cinza13";
        justify-content: center;
        padding: 100px;
        margin: 100px;
}

.cinza {
    background-color: grey;
    grid-area: cinza;
}

.preto {
    background-color: black;
    grid-area: preto;
}

.cinza2 {
    background-color: grey;
    grid-area: cinza2;
}
.preto2 {
    background-color: black;
    grid-area: preto2;
}

.cinza3 {
    background-color: grey;
    grid-area: cinza3;
}
.preto3 {
    background-color: black;
    grid-area: preto3;
}

.cinza4 {
    background-color: grey;
    grid-area: cinza4;
}
.preto4 {
    background-color: black;
    grid-area: preto4;
}

.cinza5 {
    background-color: grey;
    grid-area: cinza5;
}
.preto5 {
    background-color: black;
    grid-area: preto5;
}

.cinza6 {
    background-color: grey;
    grid-area: cinza6;
}
.preto6 {
    background-color: black;
    grid-area: preto6;
}

.cinza7 {
    background-color: grey;
    grid-area: cinza7;
}
.preto7 {
    background-color: black;
    grid-area: preto7;
}

.cinza8 {
    background-color: grey;
    grid-area: cinza8;
}
.preto8 {
    background-color: black;
    grid-area: preto8;
}

.cinza9 {
    background-color: grey;
    grid-area: cinza9;
}
.preto9 {
    background-color: black;
    grid-area: preto9;
}

.cinza10 {
    background-color: grey;
    grid-area: cinza10;
}
.preto10 {
    background-color: black;
    grid-area: preto10;
}

.cinza11 {
    background-color: grey;
    grid-area: cinza11;
}
.preto11 {
    background-color: black;
    grid-area: preto11;
}

.cinza12 {
    background-color: grey;
    grid-area: cinza12;
}
.preto12 {
    background-color: black;
    grid-area: preto12;
}

.cinza13 {
    background-color: grey;
    grid-area: cinza13;
}